<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunyard.dispatch.common.dao.AuthOperationDao">

	<resultMap type="com.sunyard.dispatch.common.model.AuthOperation" id="AuthOperation">
			<result property="authId" column="auth_id" />
			<result property="operationId" column="opea_id" />
	</resultMap>
	
	<insert id="insertAuthOpea" parameterType="com.sunyard.dispatch.common.model.AuthOperation">
    	insert into  SYS_MAP_AUTH_OPEA_TB(AUTH_ID,OPEA_ID)
    	values(#{authId},#{operationId})
	</insert>

	<update id="updateAuthOpea" parameterType="com.sunyard.dispatch.common.model.AuthOperation">
		update  SYS_MAP_AUTH_OPEA_TB set OPEA_ID=#{operationId} where AUTH_ID=#{authId}
	</update>

	<delete id="delete">
		delete from  SYS_MAP_AUTH_OPEA_TB where AUTH_ID=#{authId}
	</delete>

	<select id="selectAllAuthOpea" resultMap="AuthOperation">
		select auth_id auth_id,opea_id opea_id from  SYS_MAP_AUTH_OPEA_TB where AUTH_ID=#{authId}
	</select>
</mapper>